<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Over</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Over de community</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Over</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <h3>Opdrachtomschrijving</h3>
                    <p>Wij zijn groep 27 en voor het lectoraat Data Intelligence gaan wij aan de slag met het ontwikkelen van een community voor een LoRa netwerk.
                        In deze community kunnen studenten, docenten en bedrijven samenkomen en werken aan hun projecten.
                    </p>
                    <p>
                        Deze community is opgebouwd uit diverse componenten:
                    </p>
                    <ul>
                        <li><b>Authenticatieserver:</b> Momenteel gebruiken wij Keycloak voor het authenticeren en beheren van gebruikers. Dit betekent dat deze informatie niet direct binnen de community wordt beheerd, maar extern en op een veilige manier. In een later stadium kan dit bijvoorbeeld geïntegreerd worden met SurfConnect.</li>
                        <li><b>Community:</b> Je bevindt je momenteel op de community zelf. Hier kun je een overzicht vinden van je projecten, kun je kennis delen op het forum en kennis vergaren op onze wiki. De community is opgezet in Java met behulp van het framework SpringBoot.</li>
                        <li><b>Versiebeheer:</b> Voor het opslaan van je projecten en bijhouden van de versies zal gebruik gemaakt worden van een self-hosted instantie van het platform GitLab. Voor dit Proof of Concept wordt er gebruik gemaakt van GitLab.com.</li>
                    </ul>
                    <div class="page-divider"></div>
                    <h3>Team</h3>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-profile">
                                <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
                                    <div class="profile-picture">
                                        <div class="avatar avatar-xl">
                                            <img th:src="@{~/assets/img/about/alain.jpg}" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-profile text-center">
                                        <div class="name">Alain Lardinois</div>
                                        <div class="job">Developer</div>
                                        <div class="social-media">
                                            <a class="btn btn-black btn-sm btn-link" target="_blank" href="https://github.com/parrotlync">
                                                <span class="btn-label just-icon"><i class="fab fa-github"></i> </span>
                                            </a>
                                            <a class="btn btn-warning btn-sm btn-link" target="_blank" href="https://gitlab.com/ParrotLync">
                                                <span class="btn-label just-icon"><i class="fab fa-gitlab"></i> </span>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-link" target="_blank" href="https://bitbucket.org/ParrotLync/">
                                                <span class="btn-label just-icon"><i class="fab fa-bitbucket"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row user-stats text-center">
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Projecten</div>
                                        </div>
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Score</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-profile">
                                <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
                                    <div class="profile-picture">
                                        <div class="avatar avatar-xl">
                                            <img th:src="@{~/assets/img/about/luc.jpg}" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-profile text-center">
                                        <div class="name">Luc Quaedvlieg</div>
                                        <div class="job">Developer</div>
                                        <div class="social-media">
                                            <a class="btn btn-warning btn-sm btn-link" target="_blank" href="https://gitlab.com/luc.angryfly">
                                                <span class="btn-label just-icon"><i class="fab fa-gitlab"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row user-stats text-center">
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Projecten</div>
                                        </div>
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Score</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-profile">
                                <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
                                    <div class="profile-picture">
                                        <div class="avatar avatar-xl">
                                            <img th:src="@{~/assets/img/about/nick.jpg}" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-profile text-center">
                                        <div class="name">Nick Rau</div>
                                        <div class="job">Developer</div>
                                        <div class="social-media">
                                            <a class="btn btn-black btn-sm btn-link" target="_blank" href="https://github.com/nickraw">
                                                <span class="btn-label just-icon"><i class="fab fa-github"></i> </span>
                                            </a>
                                            <a class="btn btn-warning btn-twitter btn-sm btn-link" target="_blank" href="https://gitlab.com/nickrau">
                                                <span class="btn-label just-icon"><i class="fab fa-gitlab"></i> </span>
                                            </a>
                                            <a class="btn btn-primary btn-sm btn-link" target="_blank" href="https://bitbucket.org/noobmaster1969/">
                                                <span class="btn-label just-icon"><i class="fab fa-bitbucket"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row user-stats text-center">
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Projecten</div>
                                        </div>
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Score</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card card-profile">
                                <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
                                    <div class="profile-picture">
                                        <div class="avatar avatar-xl">
                                            <img th:src="@{~/assets/img/about/immanuel.jpg}" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-profile text-center">
                                        <div class="name">Immanuël Theune</div>
                                        <div class="job">Business Intelligence</div>
                                        <div class="social-media">
                                            <a class="btn btn-info btn-sm btn-link" target="_blank" href="#">
                                                <span class="btn-label just-icon"><i class="flaticon-github"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row user-stats text-center">
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Projecten</div>
                                        </div>
                                        <div class="col">
                                            <div class="number">0</div>
                                            <div class="title">Score</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>