<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Wiki Admin</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title" th:text="${action}"></h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Admin</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Wiki</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-body">
                            <form id="article-form" method="post" th:data-id="${article.getId()}">
                                <div class="form-group form-group-default">
                                    <label for="title">Titel</label>
                                    <input id="title" type="text" class="form-control" th:value="${article.getTitle()}">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="category">Categorie</label>
                                    <select id="category" class="form-control" th:data-existing-id="${article?.getCategory()?.getId() ?: 'NULL'}">
                                        <option th:each="category: ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="summary">Samenvatting (max. 600 tekens)</label>
                                    <textarea class="form-control" id="summary" rows="4" maxlength="600" th:text="${article.getSummary()}"></textarea>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="content">Inhoud</label>
                                    <div id="content"></div>
                                </div>
                                <div class="text-right">
                                    <a href="/admin/wiki" class="btn btn-danger">Annuleren</a>
                                    <button type="button" href="#" onclick="create_article()" class="btn btn-success">Opslaan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        var select = $('#category');
        if (select.data('existing-id') !== 'NULL') {
            select.val(select.data('existing-id'))
        }
        $('#content').summernote("code", [[${article.getContent()}]])
    })
</script>

<script>
    function create_article() {
        var id = $('#article-form').data('id');
        var data = {};
        if (id == null) {
            data = {
                "title": $('#title').val(),
                "summary": $('#summary').val(),
                "content": $('#content').summernote("code")
            }
        } else {
            data = {
                "title": $('#title').val(),
                "summary": $('#summary').val(),
                "content": $('#content').summernote("code"),
                "id": id
            }
        }
        $.ajax({
            url: "/wiki/article/" + $('#category').val() + "/save",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response === true) {
                    swal("", "Je artikel is opgeslagen!", "success").then(function(){
                        window.location.replace("/admin/wiki");
                    })
                }
            }
        });
    }
</script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Datatables -->
<script th:src="@{~/assets/js/plugin/datatables/datatables.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Summernote -->
<script th:src="@{~/assets/js/plugin/summernote/summernote-bs4.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{~/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>


<script>
    $('#content').summernote({
        placeholder: 'Typ hier de inhoud van het artikel',
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
        tabsize: 2,
        height: 300
    });
</script>

</body>
</html>