<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Wiki Admin</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Wiki Beheer</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Admin</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Wiki</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <!-- Categories -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3>Categorieën</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#" data-toggle="modal" data-target="#createCategoryModal"><i class="fa fa-plus"></i> Categorie toevoegen</a>
                                </div>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="wiki-categories" class="display table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Naam</th>
                                        <th>Icoon</th>
                                        <th># Artikelen</th>
                                        <th width="10%">Acties</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category: ${categories}">
                                        <td th:text="${category.getId()}"></td>
                                        <td th:text="${category.getName()}"></td>
                                        <td><i th:class="${category.getIcon()}"></i></td>
                                        <td th:text="${category.getWikiArticles().size()}"></td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" class="btn btn-link btn-primary btn-lg" title="Artikelen" th:data-category="${category.getName()}" onclick="filter_articles(this)">
                                                    <i class="fas fa-clipboard-list"></i>
                                                </button>
                                                <button type="button" class="btn btn-link btn-warning btn-lg" title="Bewerken" th:data-id="${category.getId()}" th:data-name="${category.getName()}"
                                                        th:data-icon="${category.getIcon()}" onclick="launch_edit(this.dataset.id, this.dataset.name, this.dataset.icon)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-link btn-danger btn-lg" title="Verwijderen" th:data-id="${category.getId()}" onclick="delete_category(this.dataset.id)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Articles -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3>Artikelen</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="/admin/article"><i class="fa fa-plus"></i> Artikel toevoegen</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Table -->
                            <div class="table-responsive">
                                <table id="wiki-articles" class="display table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Titel</th>
                                        <th>Categorie</th>
                                        <th>Laatst bijgewerkt</th>
                                        <th width="10%">Acties</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="article: ${articles}">
                                        <td th:text="${article.getId()}"></td>
                                        <td th:text="${article.getTitle()}"></td>
                                        <td th:text="${article.getCategory().getName()}"></td>
                                        <td th:text="${article.getDate()}"></td>
                                        <td width="10%">
                                            <div class="form-button-action">
                                                <a th:href="'/wiki?article=' + ${article.getId()}" class="btn btn-link btn-primary btn-lg" title="Bekijk artikel">
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                                <a th:href="'/admin/article?edit=' + ${article.getId()}" class="btn btn-link btn-warning btn-lg" title="Bewerken">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <button type="button" class="btn btn-link btn-danger btn-lg" title="Verwijderen" th:data-id="${article.getId()}" onclick="delete_article(this.dataset.id)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Create -->
                    <div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createCategoryModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Categorie aanmaken</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group form-group-default">
                                        <label for="new-category-name">Naam</label>
                                        <input id="new-category-name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label for="new-category-icon">Icoon</label><small><a href="/admin/icons" target="_blank">Bekijk alle iconen</a></small>
                                        <input id="new-category-icon" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                                    <button type="button" onclick="create_category()" id="submit_create_modal" class="btn btn-success">Opslaan</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Edit -->
                    <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Categorie bewerken</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group form-group-default">
                                        <label for="edit-category-name">Naam</label>
                                        <input id="edit-category-name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label for="edit-category-icon">Icoon</label><small><a href="/admin/icons" target="_blank">Bekijk alle iconen</a></small>
                                        <input id="edit-category-icon" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                                    <button type="button" onclick="edit_category()" id="submit_edit_modal" class="btn btn-success">Opslaan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<!-- Datatables -->
<script th:src="@{~/assets/js/plugin/datatables/datatables.min.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{~/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<script>
    $(document).ready(function() {
        $('#wiki-categories').dataTable({
            "pageLength": 5
        });

        $('#wiki-articles').dataTable({
            "pageLength": 8
        });
    });

    function filter_articles(element) {
        var category = $(element).data('category');
        $('#wiki-articles').dataTable().fnFilter(category);
    }
</script>

<script>
    function delete_article(id) {
        swal({
            title: "Weet je het zeker?",
            text: "Deze actie kan niet ongedaan gemaakt worden.",
            buttons: {
                cancel: {
                    text: "Annuleren",
                    visible: true,
                    className: "btn btn-success"
                },
                confirm: {
                    text: "Verwijderen",
                    className: "btn btn-danger"
                }
            }
        }).then(function(Delete) {
            if (Delete) {
                $.ajax({
                    url: "/wiki/article/" + id + "/delete",
                    type: "POST",
                    success: function(response) {
                        if (response === true) {
                            swal("", "De post is verwijderd!", "success").then(function(){window.location.reload()
                            })
                        }
                    }
                });
            } else {
                swal.close();
            }
        });
    }
</script>

<script>
    function create_category() {
        $('#createCategoryModal').modal('hide');
        var data = {"name": $('#new-category-name').val(),
                    "icon": $('#new-category-icon').val()};
        $.ajax({
            url: "/wiki/category/save",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response === true) {
                    swal("", "Categorie met naam " + $('#new-category-name').val() + " aangemaakt!", "success").then(function(){window.location.reload()
                    })
                }
            }
        });
    }
</script>

<script>
    function launch_edit(id, name, icon) {
        var button = $('#submit_edit_modal');
        button.attr("data-id", id);
        $('#edit-category-name').val(name);
        $('#edit-category-icon').val(icon);
        $('#editCategoryModal').modal();
    }

    function edit_category() {
        $('#editCategoryModal').modal('hide');
        var button = $('#submit_edit_modal');
        var data = {"id": button.data('id'),
                    "name": $('#edit-category-name').val(),
                    "icon": $('#edit-category-icon').val()};
        $.ajax({
            url: "/wiki/category/save",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response === true) {
                    swal("", "Categorie met naam " + $('#edit-category-name').val() + " is bijgewerkt!", "success").then(function(){
                        window.location.reload()
                    })
                }
            }
        });
    }
</script>

<script>
    function delete_category(id) {
        swal({
            title: "Weet je het zeker?",
            text: "Deze actie kan niet ongedaan gemaakt worden. Bijbehorende artikelen zullen ook verwijderd worden.",
            buttons: {
                cancel: {
                    text: "Annuleren",
                    visible: true,
                    className: "btn btn-success"
                },
                confirm: {
                    text: "Verwijderen",
                    className: "btn btn-danger"
                }
            }
        }).then(function(Delete) {
            if (Delete) {
                $.ajax({
                    url: "/wiki/category/" + id + "/delete",
                    type: "POST",
                    success: function(response) {
                        if (response === true) {
                            swal("", "Categorie is verwijderd!", "success").then(function(){
                                window.location.reload()
                            })
                        }
                    }
                });
            } else {
                swal.close();
            }
        });
    }
</script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>