<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Forum Admin</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Forum Beheer</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Admin</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Forum</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <!-- Categories -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3>Topics</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#" onclick="create_topic()"><i class="fa fa-plus"></i> Topic toevoegen</a>
                                </div>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="forum-topics" class="display table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Naam</th>
                                        <th># Posts</th>
                                        <th width="10%">Acties</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="topic: ${topics}">
                                        <td th:text="${topic.getId()}"></td>
                                        <td th:text="${topic.getName()}"></td>
                                        <td th:text="${topic.getForumPosts().size()}"></td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" class="btn btn-link btn-warning btn-lg" title="Bewerken" th:data-id="${topic.getId()}" th:data-name="${topic.getName()}" onclick="edit_topic(this.dataset.id, this.dataset.name)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-link btn-danger btn-lg" title="Verwijderen" th:data-id="${topic.getId()}" onclick="delete_topic(this.dataset.id)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<script>
    $(document).ready(function() {
        $('#forum-topics').dataTable({
            "pageLength": 8
        });
    });
</script>

<script>
    function delete_topic(id) {
        swal({
            title: "Weet je het zeker?",
            text: "Deze actie kan niet ongedaan gemaakt worden. Bijbehorende posts en reacties zullen ook verwijderd worden.",
            buttons: {
                cancel: {
                    text: "Annuleren",
                    visible: true,
                    className: "btn btn-success"
                },
                confirm: {
                    text: "Verwijderen",
                    className: "btn btn-danger"
                }
            }
        }).then(function(Delete) {
            if (Delete) {
                $.ajax({
                    url: "/forum/topic/" + id + "/delete",
                    type: "POST",
                    success: function(response) {
                        if (response === true) {
                            swal("", "Topic is verwijderd!", "success").then(function(){window.location.reload()
                            })
                        }
                    }
                });
            } else {
                swal.close();
            }
        });
    }
</script>

<script>
    function create_topic() {
        swal({
            title: 'Topic aanmaken',
            html: '',
            content: {
                element: "input",
                attributes: {
                    placeholder: "Topicnaam",
                    type: "text",
                    id: "new-topic-name",
                    className: "form-control"
                }
            },
            buttons: {
                cancel: {
                    visible: true,
                    className: 'btn btn-danger',
                    text: "Annuleren"
                },
                confirm: {
                    className: 'btn btn-success',
                    text: "Opslaan"
                }
            }
        }).then(
            function (isConfirmed) {
                if (isConfirmed) {
                    var data = {"name": $('#new-topic-name').val()};
                    $.ajax({
                        url: "/forum/topic/save",
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response === true) {
                                swal("", "Topic met naam " + $('#new-topic-name').val() + " is opgeslagen!", "success").then(function () {
                                    window.location.reload();
                                })
                            }
                        }
                    })
                }
            });
    }
</script>

<script>
    function edit_topic(id, name) {
        swal({
            title: 'Topic bewerken',
            html: '',
            content: {
                element: "input",
                attributes: {
                    placeholder: "Topicnaam",
                    type: "text",
                    id: "edit-topic-name",
                    className: "form-control",
                    value: name
                }
            },
            buttons: {
                cancel: {
                    visible: true,
                    className: 'btn btn-danger',
                    text: "Annuleren"
                },
                confirm: {
                    className: 'btn btn-success',
                    text: "Opslaan"
                }
            }
        }).then(
            function (isConfirmed) {
                if (isConfirmed) {
                    var data = {"name": $('#edit-topic-name').val(),
                                "id": id};
                    $.ajax({
                        url: "/forum/topic/save",
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response === true) {
                                swal("", "Topic met naam " + $('#edit-topic-name').val() + " is opgeslagen!", "success").then(function () {
                                    window.location.reload();
                                })
                            }
                        }
                    })
                }
            });
    }
</script>


<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Datatables -->
<script th:src="@{~/assets/js/plugin/datatables/datatables.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{~/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>