<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="'LoRa Community: Error ' + ${errorCode}"></title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{~/assets/css/error.css}"/>
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 th:text="${errorCode}"></h1>
        </div>
        <h2 th:text="'Error - ' + ${errorCode} + ' ' + ${errorMsg}"></h2>
        <p>An error has occured while handling this request.</p>
        <code>LoRa Community - Casusgroep 27 &copy;2020</code><br><br>
        <a href="/">Back To Home</a>
    </div>
</div>
</body>
</html>
