<div class="container">
	<nav class="pull-left">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="https://gitlab.com/spaghettimafia/lora-community">
					Repository
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about">
					Over
				</a>
			</li>
		</ul>
	</nav>
	<div class="copyright ml-auto">
		2020, made by <a href="/about">Casusgroep 27</a>
	</div>
</div>