<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Forum</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Forum</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Forum</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">

                    <div class="card" th:each="topic: ${topics}">
                        <div class="card-header">
                            <div class="row">
                                <div class="col text-left" style="margin-top: auto; margin-bottom: auto; padding: auto;">
                                    <h3 th:text="${topic.getName()}"></h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#" th:data-topic_id="${topic.getId()}" th:data-topic_name="${topic.getName()}" onclick="modal_create_post(this); return false;">
                                        <li class="fas fa-edit"></li> Post schrijven
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div th:if="${topic.getForumPosts().size() == 0}">
                                <i class="fas fa-exclamation-circle"> Er zijn nog geen posts geplaatst in dit topic!</i>
                            </div>
                            <table th:if="${topic.getForumPosts().size() != 0}" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th width="55%">Titel</th>
                                        <th width="20%">Gebruiker</th>
                                        <th width="20%">Gepost</th>
                                        <th width="1%" th:if="${user.getAdmin()}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="forumPost: ${topic.getForumPosts()}">
                                    <td th:href="'forum?post=' + ${forumPost.getId()}" onclick="window.location = $(this).attr('href')"><i class="flaticon-chat-7"></i></td>
                                    <td th:text="${forumPost.getTitle()}" th:href="'forum?post=' + ${forumPost.getId()}" onclick="window.location = $(this).attr('href')"></td>
                                    <td th:text="${forumPost.getUser().getName()}" th:href="'forum?post=' + ${forumPost.getId()}" onclick="window.location = $(this).attr('href')"></td>
                                    <td th:text="${forumPost.getDate()}" th:href="'forum?post=' + ${forumPost.getId()}" onclick="window.location = $(this).attr('href')"></td>
                                    <td th:if="${user.getAdmin()}">
                                        <div class="dropleft">
                                            <i th:id="'actions' + ${forumPost.getId()}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="fas fa-ellipsis-h"></i>
                                            <div class="dropdown-menu" th:aria-labelledby="'actions' + ${forumPost.getId()}">
                                                <a class="dropdown-item" th:data-id="${forumPost.getId()}" href="#" onclick="delete_post(this.dataset.id)">Verwijderen</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Post schrijven</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="createPostForm">
                                        <div class="form-group form-group-default">
                                            <label for="title">Titel</label>
                                            <input id="title" type="text" class="form-control">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="content">Inhoud</label>
                                            <textarea class="form-control" id="content" rows="6"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                                    <button type="button" onclick="create_post()" id="submit_modal" class="btn btn-success">Versturen</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<script>
    function delete_post(id) {
        swal({
            title: "Weet je het zeker?",
            text: "Deze actie kan niet ongedaan gemaakt worden. Bijbehorende reacties zullen ook verwijderd worden.",
            buttons: {
                cancel: {
                    text: "Annuleren",
                    visible: true,
                    className: "btn btn-success"
                },
                confirm: {
                    text: "Verwijderen",
                    className: "btn btn-danger"
                }
            }
        }).then(function(Delete) {
            if (Delete) {
                $.ajax({
                    url: "/forum/post/" + id + "/delete",
                    type: "POST",
                    success: function(response) {
                        if (response === true) {
                            swal("", "De post is verwijderd!", "success").then(function(){
                                window.location.reload()
                            })
                        }
                    }
                });
            } else {
                swal.close();
            }
        });
    }
</script>

<script>
    function modal_create_post(e) {
        $('#createPostModal').modal();
        var form = $('#createPostForm');
        form.attr("data-topic_name", e.dataset.topic_name);
        form.attr("data-topic_id", e.dataset.topic_id);
    }

    function create_post() {
        var form = $('#createPostForm');
        var title = $('#title');
        var content = $('#content');
        var data = {
            "title": title.val(),
            "content": content.val()
        };
        $.ajax({
            url: "forum/post/" + String(form.data("topic_id")) + "/save",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response === true) {
                    swal("", "Je post is aangemaakt en terug te vinden onder " + form.data("topic_name"), "success").then(function(){
                        window.location.reload()
                    })
                }
            }
        });
        $('#createPostModal').modal('hide');
    }
</script>


<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- Moment JS -->
<script th:src="@{~/assets/js/plugin/moment/moment.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{~/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>