<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Forum</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Forum</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Forum</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#" th:text="${post.getTopic().getName()}"></a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#" th:text="${post.getTitle()}"></a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 th:text="${post.getTitle()}"></h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#" th:data-id="${post.getId()}" data-type="post" onclick="like(this); return false;">
                                        <i class="fas fa-thumbs-up" th:text="' ' + ${post.getLikes()}"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-auto text-center">
                                    <div class="avatar avatar-xl">
                                        <span class="avatar-title rounded-circle border border-white" th:text="${post.getUser().getInitials()}"></span>
                                    </div><br>
                                    <small><b th:text="${post.getUser().getName()}"></b></small><br>
                                    <small th:text="${post.getDate()}"></small>
                                </div>
                                <div class="col">
                                    <p th:text="${post.getContent()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col text-right">
                                    <a href="#" class="btn btn-primary" th:data-post_id="${post.getId()}" onclick="modal_create_reaction(this); return false;">Reageren</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body"th:if="${post.getForumReactions().size() == 0}">
                            <i class="fas fa-exclamation-circle"> Er heeft nog niemand gereageerd op deze post!</i>
                        </div>
                        <div class="card-body" th:if="${post.getForumReactions().size() != 0}">
                            <div th:each="reaction: ${post.getForumReactions()}" class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-auto text-center">
                                            <b th:text="${reaction.getUser().getName()}"></b><small th:text="' ' + ${reaction.getDate()}"></small>
                                        </div>
                                        <div class="col float-right">
                                            <div class="row float-right">
                                                <a style="margin: 5px;" href="#" th:data-id="${reaction.getId()}" data-type="reaction" onclick="like(this); return false;">
                                                    <i class="fas fa-thumbs-up" th:text="' ' + ${reaction.getLikes()}"></i>
                                                </a>
                                                <div class="dropleft" style="margin: 5px;" th:if="${user.getAdmin()}">
                                                    <i th:id="'actions' + ${reaction.getId()}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="fas fa-ellipsis-h"></i>
                                                    <div class="dropdown-menu" th:aria-labelledby="'actions' + ${reaction.getId()}">
                                                        <a class="dropdown-item" th:data-id="${reaction.getId()}" href="#" onclick="delete_reaction(this.dataset.id)">Verwijderen</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p th:text="${reaction.getContent()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="createReactionModal" tabindex="-1" role="dialog" aria-labelledby="createReactionModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Reageren</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="createReactionForm">
                                        <div class="form-group form-group-default">
                                            <label for="content">Inhoud</label>
                                            <textarea class="form-control" id="content" rows="6"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                                    <button type="button" onclick="create_reaction()" id="submit_modal" class="btn btn-success">Versturen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<script>
    function like(e) {
        var type = e.dataset.type;
        var id = e.dataset.id;
        $.get("forum/like?" + type + "=" + id, function(response) {
            if (response !== "None") {
                e.childNodes[1].textContent = ' ' + response;
            }
        })
    }
</script>

<script>
    function modal_create_reaction(e) {
        $('#createReactionModal').modal();
        var form = $('#createReactionForm');
        form.attr("data-post_id", e.dataset.post_id);
    }

    function create_reaction() {
        var form = $('#createReactionForm');
        var content = $('#content');
        var data = {
            "content": content.val()
        };
        $.ajax({
            url: "forum/reaction/" + form.data("post_id") + "/save",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                if (response === true) {
                    swal("", "Je hebt gereageerd op deze post!", "success").then(function(){
                        window.location.reload()
                    })
                }
            }
        });
        $('#createReactionModal').modal('hide');
    }
</script>

<script>
    function delete_reaction(id) {
        swal({
            title: "Weet je het zeker?",
            text: "Deze actie kan niet ongedaan gemaakt worden.",
            buttons: {
                cancel: {
                    text: "Annuleren",
                    visible: true,
                    className: "btn btn-success"
                },
                confirm: {
                    text: "Verwijderen",
                    className: "btn btn-danger"
                }
            }
        }).then(function(Delete) {
            if (Delete) {
                $.ajax({
                    url: "/forum/reaction/" + id + "/delete",
                    type: "POST",
                    success: function(response) {
                        if (response === true) {
                            swal("", "De reactie is verwijderd!", "success").then(function(){
                                window.location.reload()
                            })
                        }
                    }
                });
            } else {
                swal.close();
            }
        });
    }
</script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Sweet Alert -->
<script th:src="@{~/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>