<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Home</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body onload="POCmessage()">
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-header">
                            <span class="badge badge-danger">Mededeling</span>
                            <h3>Informatie omtrent COVID-19</h3>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-category text-info mb-1">LoRa</p>
                                    <h3 class="card-title">Starten met de LoRa hardware</h3>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed velit dignissim sodales ut eu. </p>
                                    <a href="wiki?article=14" class="btn btn-primary btn-rounded btn-sm">Meer lezen</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-category text-info mb-1">Community</p>
                                    <h3 class="card-title">Starten met je eerste project</h3>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed velit dignissim sodales ut eu. </p>
                                    <a href="wiki?article=15" class="btn btn-primary btn-rounded btn-sm">Meer lezen</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-projects">
                        <div class="col-sm-6 col-lg-3">
                            <a href="project">
                                <div class="card">
                                    <div class="p-2">
                                        <img class="card-img-top rounded" th:src="@{~/assets/img/examples/product7.jpg}" alt="">
                                    </div>
                                    <div class="card-body pt-2">
                                        <h4 class="mb-1 fw-bold">Slimme Parking</h4>
                                        <p class="text-muted small mb-2">Laatste update: 6-4-2020 12:34</p>
                                        <div class="avatar-group">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">AB</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">CD</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">EF</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">GH</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <a href="project">
                                <div class="card">
                                    <div class="p-2">
                                        <img class="card-img-top rounded" th:src="@{~/assets/img/examples/product7.jpg}" alt="">
                                    </div>
                                    <div class="card-body pt-2">
                                        <h4 class="mb-1 fw-bold">LoRa Community</h4>
                                        <p class="text-muted small mb-2">Laatste update: 7-4-2020 17:10</p>
                                        <div class="avatar-group">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">AL</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">NR</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">LQ</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">IT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <a href="project">
                                <div class="card">
                                    <div class="p-2">
                                        <img class="card-img-top rounded" th:src="@{~/assets/img/examples/product7.jpg}" alt="">
                                    </div>
                                    <div class="card-body pt-2">
                                        <h4 class="mb-1 fw-bold">Agro Sensors</h4>
                                        <p class="text-muted small mb-2">Laatste update: 12-4-2020 14:05</p>
                                        <div class="avatar-group">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">IJ</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">KL</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">MN</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">OP</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <a href="project">
                                <div class="card">
                                    <div class="p-2">
                                        <img class="card-img-top rounded" th:src="@{~/assets/img/examples/product7.jpg}" alt="">
                                    </div>
                                    <div class="card-body pt-2">
                                        <h4 class="mb-1 fw-bold">FestiSensor</h4>
                                        <p class="text-muted small mb-2">Laatste update: 9-4-2020 23:21</p>
                                        <div class="avatar-group">
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">QR</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">ST</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">UV</span>
                                            </div>
                                            <div class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle border border-white">WX</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="modal fade" id="POCmodal" tabindex="-1" role="dialog" aria-labelledby="POCmodal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Community PoC</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Welkom op onze community! Dit is een Proof of Concept voor het vak B2A5 ICT Innovatie. Momenteel is deze community nog niet compleet, maar er wordt hard aan gewerkt!
                                    <br><br>- <a href="about">Casusgroep 27</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<script>
    function POCmessage() {
        $('#POCmodal').modal().show();
    }
</script>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>