<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Gebruikersprofiel</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Profiel</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Gebruikers</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Alain Lardinois</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="user-box">
                                        <div class="avatar avatar-xxl">
                                            <span class="avatar-title rounded-circle border border-white" th:text="${user.getInitials()}"></span>
                                        </div>
                                        <div class="u-text">
                                            <h5 class="card-title" th:text="${user.getName()}"></h5>
                                            <p class="card-text">IT Development</p>
                                            <div class="row">
                                                <i class="fab fa-github" style="font-size:30px; color:black; margin: 5px;"></i>
                                                <i class="fab fa-gitlab" style="font-size:30px; color:darkorange; margin: 5px;"></i>
                                                <i class="fab fa-bitbucket" style="font-size:30px; color:dodgerblue; margin: 5px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-right">
                                    <a href="#" class="btn btn-warning float-right" data-toggle="modal" data-target="#settingsModal" style="width: 150px;">Voorkeuren</a><br><br>
                                    <a href="https://auth.ipictserver.nl/auth/realms/LoraCommunity/account/" class="btn btn-primary float-right" style="width: 150px;" target="_blank">Instellingen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="card-header">Projecten van deze gebruiker</h3>
                        <div class="card-body">
                            <div class="row row-projects">
                                <div class="col-sm-6 col-lg-3">
                                    <a href="/project">
                                        <div class="card">
                                            <div class="p-2">
                                                <img class="card-img-top rounded" th:src="@{~/assets/img/examples/product7.jpg}" alt="">
                                            </div>
                                            <div class="card-body pt-2">
                                                <h4 class="mb-1 fw-bold">Slimme Parking</h4>
                                                <p class="text-muted small mb-2">Laatste update: 6-4-2020 12:34</p>
                                                <div class="avatar-group">
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">AB</span>
                                                    </div>
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">CD</span>
                                                    </div>
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">EF</span>
                                                    </div>
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">GH</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <a href="/project">
                                        <div class="card">
                                            <div class="p-2">
                                                <img class="card-img-top rounded" th:src="@{~/assets/img/examples/product7.jpg}" alt="">
                                            </div>
                                            <div class="card-body pt-2">
                                                <h4 class="mb-1 fw-bold">LoRa Community</h4>
                                                <p class="text-muted small mb-2">Laatste update: 7-4-2020 17:10</p>
                                                <div class="avatar-group">
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">AL</span>
                                                    </div>
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">NR</span>
                                                    </div>
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">LQ</span>
                                                    </div>
                                                    <div class="avatar avatar-sm">
                                                        <span class="avatar-title rounded-circle border border-white">IT</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Voorkeuren</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="notifications">Notificaties ontvangen</label>
                                    <input id="notifications" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-style="btn-round"><br>
                                    <label for="newsletter">Nieuwsbrief ontvangen</label>
                                    <input id="newsletter" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-style="btn-round">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-success">Opslaan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>