<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Projectnaam</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" th:href="@{~/assets/img/icon.ico}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script th:src="@{~/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/css/atlantis2.css}">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Projectnaam</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Projecten</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Projectnaam</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <img th:src="@{~/assets/img/examples/example3.jpeg}" class="rounded" height="150"/>
                                </div>
                                <div class="col">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                </div>
                                <div class="col-auto text-right">
                                    <a href="#" class="btn btn-warning float-right" style="width: 150px;">Repository</a><br><br>
                                    <a href="#" class="btn btn-secondary float-right" style="width: 150px;">Instellingen</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="avatar-group">
                                <div class="avatar">
                                    <span class="avatar-title rounded-circle border border-white">AL</span>
                                </div>
                                <div class="avatar">
                                    <span class="avatar-title rounded-circle border border-white">NR</span>
                                </div>
                                <div class="avatar">
                                    <span class="avatar-title rounded-circle border border-white">LQ</span>
                                </div>
                                <div class="avatar">
                                    <span class="avatar-title rounded-circle border border-white">IT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myKanban" class="board align-content-center">
                        <div data-id="_todo" class="kanban-board">
                            <header class="kanban-board-header">
                                <div class="kanban-title-board">To-do</div>
                                <div class="kanban-title-button d-inline-flex">
                                    <button class="mr-2"><i class="fas fa-plus-circle"></i></button>
                                    <div class="dropdown dropdown-kanban">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-options-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Bewerken</a>
                                            <a class="dropdown-item" href="#">Verplaatsen</a>
                                            <a class="dropdown-item" href="#">Kopiëren</a>
                                            <a class="dropdown-item" href="#">Verwijderen</a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <main class="kanban-drag">
                                <div class="kanban-item">
                                    <a href="#" class="kanban-title">Meeting</a>
                                    <div class="kanban-badges">
                                        <div class="kanban-badge">
                                            <i class="far fa-clock"></i>
                                            <span class="badge-text">20-4-2020</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="fas fa-paperclip"></i>
                                            <span class="badge-text">1</span>
                                        </div>
                                    </div>
                                    <div class="kanban-edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </div>
                                </div>
                            </main>
                        </div>
                        <div data-id="_working" class="kanban-board">
                            <header class="kanban-board-header d-flex align-items-center">
                                <div class="kanban-title-board">Bezig</div>
                                <div class="kanban-title-button ml-auto d-inline-flex">
                                    <button class="mr-2"><i class="fas fa-plus-circle"></i></button>
                                    <div class="dropdown dropdown-kanban">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-options-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Bewerken</a>
                                            <a class="dropdown-item" href="#">Verplaatsen</a>
                                            <a class="dropdown-item" href="#">Kopiëren</a>
                                            <a class="dropdown-item" href="#">Verwijderen</a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <main class="kanban-drag">
                                <div class="kanban-item">
                                    <a href="#" class="kanban-title">PoC</a>
                                    <div class="kanban-badges">
                                        <div class="kanban-badge">
                                            <i class="far fa-clock"></i>
                                            <span class="badge-text">18-4-2020</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-comment-alt"></i>
                                            <span class="badge-text">3</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-check-square"></i>
                                            <span class="badge-text">5/12</span>
                                        </div>
                                    </div>
                                    <div class="kanban-edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </div>
                                </div>
                                <div class="kanban-item">
                                    <a href="#" class="kanban-title">Documentatie</a>
                                    <div class="kanban-badges">
                                        <div class="kanban-badge bg-danger">
                                            <i class="far fa-clock"></i>
                                            <span class="badge-text">12-4-2020</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-comment-alt"></i>
                                            <span class="badge-text">6</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-check-square"></i>
                                            <span class="badge-text">2/4</span>
                                        </div>
                                    </div>
                                    <div class="kanban-edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </div>
                                </div>
                                <div class="kanban-item">
                                    <a href="#" class="kanban-title">Testrapport</a>
                                    <div class="kanban-badges">
                                        <div class="kanban-badge">
                                            <i class="far fa-clock"></i>
                                            <span class="badge-text">18-4-2020</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-comment-alt"></i>
                                            <span class="badge-text">7</span>
                                        </div>
                                        <div class="kanban-badge bg-success">
                                            <i class="far fa-check-square"></i>
                                            <span class="badge-text">6/6</span>
                                        </div>
                                    </div>
                                    <div class="kanban-edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </div>
                                </div>
                            </main>
                        </div>
                        <div data-id="_done" class="kanban-board">
                            <header class="kanban-board-header success">
                                <div class="kanban-title-board">Klaar</div>
                                <div class="kanban-title-button d-inline-flex">
                                    <button class="mr-2"><i class="fas fa-plus-circle"></i></button>
                                    <div class="dropdown dropdown-kanban">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-options-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Bewerken</a>
                                            <a class="dropdown-item" href="#">Verplaatsen</a>
                                            <a class="dropdown-item" href="#">Kopiëren</a>
                                            <a class="dropdown-item" href="#">Verwijderen</a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <main class="kanban-drag">
                                <div class="kanban-item">
                                    <a href="#" class="kanban-title">Onderzoek</a>
                                    <div class="kanban-badges">
                                        <div class="kanban-badge">
                                            <i class="far fa-clock"></i>
                                            <span class="badge-text">10-4-2020</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-comment-alt"></i>
                                            <span class="badge-text">9</span>
                                        </div>
                                        <div class="kanban-badge bg-success">
                                            <i class="far fa-check-square"></i>
                                            <span class="badge-text">8/8</span>
                                        </div>
                                    </div>
                                    <div class="kanban-edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </div>
                                </div>
                                <div class="kanban-item">
                                    <a href="#" class="kanban-title">Interviews</a>
                                    <div class="kanban-badges">
                                        <div class="kanban-badge">
                                            <i class="far fa-clock"></i>
                                            <span class="badge-text">8-4-2020</span>
                                        </div>
                                        <div class="kanban-badge">
                                            <i class="far fa-comment-alt"></i>
                                            <span class="badge-text">4</span>
                                        </div>
                                        <div class="kanban-badge bg-success">
                                            <i class="far fa-check-square"></i>
                                            <span class="badge-text">2/2</span>
                                        </div>
                                    </div>
                                    <div class="kanban-edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Sortable-->
<script th:src="@{~/assets/js/plugin/sortable/sortable.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

<script>
    'use strict';

    var boardDemo = {
        init: function init() {

            this.bindUIActions();
        },
        bindUIActions: function bindUIActions() {
            // event handlers
            this.handleBoardStyle();
            this.handleSortable();
        },
        byId: function byId(id) {
            return document.getElementById(id);
        },
        handleBoardStyle: function handleBoardStyle() {
            $(document).on('mouseenter mouseleave', '.kanban-board-header', function (e) {
                var isHover = e.type === 'mouseenter';
                $(this).parent().toggleClass('hover', isHover);
            });
        },
        handleSortable: function handleSortable() {
            var board = this.byId('myKanban');
            // Multi groups
            Sortable.create(board, {
                animation: 150,
                draggable: '.kanban-board',
                handle: '.kanban-board-header',
                filter: '.ignore-sort',
                forceFallback: true
            });[].forEach.call(board.querySelectorAll('.kanban-drag'), function (el) {
                Sortable.create(el, {
                    group: 'tasks',
                    animation: 150,
                    filter: '.ignore-sort',
                    forceFallback: true
                });
            });
        }
    };

    boardDemo.init();
</script>

</body>
</html>