<div class="nav-top">
	<div class="container d-flex flex-row">
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
							<i class="icon-menu"></i>
						</span>
		</button>
		<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
		<!-- Logo Header -->
		<a href="/" class="logo d-flex align-items-center">
			<img th:src="@{~/assets/img/logo.png}" width="200" alt="navbar brand" class="navbar-brand">
		</a>
		<!-- End Logo Header -->

		<!-- Navbar Header -->
		<nav class="navbar navbar-header navbar-expand-lg p-0">
			<div class="container-fluid p-0">
				<div class="collapse" id="search-nav">
					<form class="navbar-left navbar-form nav-search ml-md-3">
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="submit" class="btn btn-search pr-1">
									<i class="fa fa-search search-icon"></i>
								</button>
							</div>
							<input type="text" placeholder="Search ..." class="form-control">
						</div>
					</form>
				</div>
				<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
					<li class="nav-item toggle-nav-search hidden-caret">
						<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
							<i class="fa fa-search"></i>
						</a>
					</li>
					<li class="nav-item dropdown hidden-caret">
						<a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-bell"></i>
							<span class="notification">1</span>
						</a>
						<ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
							<li>
								<div class="dropdown-title">Je hebt 1 nieuw bericht</div>
							</li>
							<li>
								<div class="notif-scroll scrollbar-outer">
									<div class="notif-center">
										<a href="#">
											<div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
											<div class="notif-content">
															<span class="block">
																User heeft gereageerd op je bericht
															</span>
												<span class="time">5 minutes ago</span>
											</div>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown hidden-caret">
						<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="fas fa-layer-group"></i>
						</a>
						<div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
							<div class="quick-actions-header">
								<span class="title mb-1">Snelkoppelingen</span>
							</div>
							<div class="quick-actions-scroll scrollbar-outer">
								<div class="quick-actions-items">
									<div class="row m-0">
										<a class="col-6 col-md-4 p-0" href="#">
											<div class="quick-actions-item">
												<div class="avatar-item bg-danger rounded-circle">
													<i class="fab fa-gitlab"></i>
												</div>
												<span class="text">Gitlab</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown hidden-caret">
						<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
							<div class="avatar-sm">
								<span class="avatar-title rounded-circle border border-white" th:text="${user.getInitials()}"></span>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-user animated fadeIn">
							<div class="dropdown-user-scroll scrollbar-outer">
								<li>
									<div class="user-box">
										<div class="avatar-lg">
											<span class="avatar-title rounded-circle border border-white" th:text="${user.getInitials()}"></span>
										</div>
										<div class="u-text">
											<h4><span th:text="${user.getFirstName()}"></span></h4>
											<p class="text-muted" th:text="${user.getEmail()}"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/profile">Profiel</a>
									<a class="dropdown-item" href="https://auth.ipictserver.nl/auth/realms/LoraCommunity/account/" target="_blank">Instellingen</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/logout">Uitloggen</a>
								</li>
							</div>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!-- End Navbar -->
	</div>
</div>
<div class="nav-bottom">
	<div class="container">
		<h3 class="title-menu d-flex d-lg-none">
			Menu
			<div class="close-menu"> <i class="flaticon-cross"></i></div>
		</h3>
		<ul class="nav page-navigation bg-white">
			<li class="nav-item">
				<a class="nav-link" href="/">
					<i class="link-icon icon-screen-desktop"></i>
					<span class="menu-title">Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/projects">
					<i class="link-icon icon-chemistry"></i>
					<span class="menu-title">Projecten</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/forum">
					<i class="link-icon icon-speech"></i>
					<span class="menu-title">Forum</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/wiki">
					<i class="link-icon icon-book-open"></i>
					<span class="menu-title">Wiki</span>
				</a>
			</li>
			<li class="nav-item submenu" th:if="${user.getAdmin()}">
				<a class="nav-link" href="/admin/wiki">
					<i class="link-icon icon-settings"></i>
					<span class="menu-title">Admin</span>
				</a>
				<div class="navbar-dropdown animated fadeIn">
					<ul>
						<li>
							<a href="/admin/wiki">Wiki</a>
						</li>
						<li>
							<a href="/admin/forum">Forum</a>
						</li>
						<li>
							<a href="https://auth.ipictserver.nl/auth/admin/LoraCommunity/console/" target="_blank">Gebruikers</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>