<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LoRa Community - Wiki</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="assets/img/icon.ico" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script src="assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/atlantis2.css">
</head>
<body>
<div class="wrapper horizontal-layout-2">

    <div th:insert="top.html" class="main-header" data-background-color="dark"></div>

    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Wiki</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Wiki</a>
                        </li>
                    </ul>
                </div>
                <div class="page-category">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-space">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <a th:each="category: ${categories}" th:class="${categories.indexOf(category) == 0} ? 'nav-link active show' : 'nav-link'" th:id="'v-pills-' + ${category.getName()} + '-tab-icons'" data-toggle="pill" th:href="'#v-pills-' + ${category.getName()} + '-icons'" role="tab" th:aria-controls="'v-pills-' + ${category.getName()} + '-icons'" aria-selected="false">
                                                    <i th:class="${category.getIcon()}"></i>
                                                    <span th:text="${category.getName()}"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div th:each="category: ${categories}" th:class="${categories.indexOf(category) == 0} ? 'tab-pane fade active show' : 'tab-pane fade'" th:id="'v-pills-' + ${category.getName()} + '-icons'" role="tabpanel" th:aria-labelledby="'v-pills-' + ${category.getName()} + '-tab-icons'">
                                                    <div th:if="${category.getWikiArticles().size() == 0}">
                                                        <br><i class="fas fa-exclamation-circle"> Er zijn nog geen artikelen beschikbaar binnen deze categorie!</i>
                                                    </div>
                                                    <div class="accordion accordion-secondary" th:if="${category.getWikiArticles().size() != 0}">
                                                        <div th:each="article: ${category.getWikiArticles()}" class="card">
                                                            <div class="card-header collapsed" th:id="'article' + ${article.getId()}" data-toggle="collapse" th:data-target="'#collapse' + ${article.getId()}" th:aria-expanded="${category.getWikiArticles().indexOf(article) == 0} ? 'true' : 'false'" th:aria-controls="'#collapse' + ${article.getId()}" role="button">
                                                                <div class="span-icon">
                                                                    <div th:class="${category.getIcon()}"></div>
                                                                </div>
                                                                <div class="span-title">
                                                                    <span th:text="${article.getTitle()}"></span>
                                                                </div>
                                                                <div class="span-mode"></div>
                                                            </div>

                                                            <div th:id="'collapse' + ${article.getId()}" th:class="${category.getWikiArticles().indexOf(article) == 0} ? 'collapse show' : 'collapse'" th:aria-labelledby="'article' + ${article.getId()}" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    <span th:text="${article.getSummary()}"></span>
                                                                    <br><i class="fas fa-forward"></i><a th:href="'wiki?article=' + ${article.getId()}"> Meer lezen...</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="footer.html" class="footer"></footer>
</div>

<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap.min.js}"></script>

<!-- jQuery UI -->
<script th:src="@{~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

<!-- jQuery Scrollbar -->
<script th:src="@{~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

<!-- jQuery Sparkline -->
<script th:src="@{~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- Bootstrap Toggle -->
<script th:src="@{~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

<!-- jQuery Vector Maps -->
<script th:src="@{~/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

<!-- Bootstrap Tagsinput -->
<script th:src="@{~/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!-- Bootstrap Wizard -->
<script th:src="@{~/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js}"></script>

<!-- jQuery Validation -->
<script th:src="@{~/assets/js/plugin/jquery.validate/jquery.validate.min.js}"></script>

<!-- Select2 -->
<script th:src="@{~/assets/js/plugin/select2/select2.full.min.js}"></script>

<!-- Atlantis JS -->
<script th:src="@{~/assets/js/atlantis2.min.js}"></script>

</body>
</html>